html {
    background-color: #fffef8;
}

body {
	max-width: 1200px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

span {
    font-family: 'Work Sans';
}

#section-login {
    display: flex;
    justify-content: center;
}

#section-login h2 {
    font-family: Syne;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#section-login label {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 5px;
    margin-bottom: 6px;
}

#login h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#email-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

#password-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

#email, #password {
    width: 379px;
    height: 51px;
    top: 338px;
    left: 530px;
    border: none;
    box-shadow: #d8d8d8 1px 2px 3px 1px;
    font-size:17px;
}

#connexion {
    padding: 8px;
}

#forget_password {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3D3D3D;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    text-decoration-line: underline;
}

button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#espacement {
    margin-top: 30%;
}

footer, #footer_nav {
    display: flex;
    justify-content: end;
    background-color: white;
} 

#footer_nav {
    display: flex;
    justify-content: end;
} 